<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="NFineDbContext" connectionString="Server=.;Initial Catalog=NFineBase;User ID=sa;Password=qwertyuiop" providerName="System.Data.SqlClient" />
  <remove name="NFineDbContext"/>
  <add name="NFineDbContext" connectionString="Data Source=.\sqlexpress2012;Initial Catalog=NFineBase;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
</connectionStrings>